<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>>Create Account</title>
    <link rel ="stylesheet" type ="text/css" href ="/static/style2.css">
<body>
    <div class = "loginbox">
    <img src = "../static/avatar2.png" class ="avatar">
        <h1> Create Account</h1>
        <form action='' method="post">
             <label for="username"><p>Username:</p></label><br>
           <input type="text" id="username" name="username"  placeholder="Enter Username" value="{{request.form.username}}"><br>
            <label for="password"><p>Password:</p></label><br>
            <input type="password" id="password" name="password"  placeholder="Enter Password" value="{{request.form.password}}">
            <label for="password"><p>Confirm Password:</p></label><br>
            <input type="password" id = "confirmation" name = "confirmation" placeholder="Confirm Password" value="{{request.form.confirmation}}">
            <input type="submit" value="Create Account">
            <a href ="/login">Back to Homepage</a>
        </form>
    </div>
</body>
</html>